.lawyerDetails--page {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: var(--font-base);
}

.lawyerDetails--page::before {
    content: "";
    background-image: url('../../assets/images/footer.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.lawyerDetailsInfo,
.lawyersDetailsBooking {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 1;
    position: relative;
    width: 100%;
    height: auto;
}

.lawyersDetailsBooking--book {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem;
}

.lawyersDetailsBooking--book_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.lawyersDetailsBooking--book_form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lawyersDetailsBooking--book_form label {
    font-size: 1.8rem;
    font-weight: bold;
    font-variant:small-caps;
    color: var(--color-black);
}

.lawyersDetailsBooking--book_subject textarea {
    height: 100px !important;
    padding-top: 0.5rem !important;
}

.lawyerDetailsComment {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    font-family: var(--font-base);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.lawyerDetailsComment h1 {
    font-size: 2.5rem;
}

.lawyerDetailsComment textarea {
    width: 100% !important;
}

.lawyerDetailsComment button {
    font-size: 17px;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.lawyerDetailsCommentList {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lawyerDetailsCommentList--comment {
    padding: 2rem 4rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.lawyerDetailsCommentList--nameDate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lawyerDetailsCommentList--nameDate h4 {
    font-size: 1.2rem;
}

.lawyerDetailsCommentList--comment p {
    font-size: 1.2rem;
}

.lawyerDetailsCommentList--btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lawyerDetailsCommentList--btn button {
    font-size: 17px;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.lawyerDetailsCommentList--comment textarea {
    width: 100% !important;
}

@media screen and (max-width:1150px) {
    .lawyerDetailsInfo,
    .lawyersDetailsBooking {
        flex-direction: column;
        align-items: center;
    }
    .lawyerDetails--page {
        gap: 2rem;
    }
    .lawyerDetailsInfo--bio,
    .lawyerDetailsInfo--img,
    .lawyersDetailsBooking--book,
    .lawyersDetailsBooking--text{
        width: 100%;
    }
}


@media screen and (max-width:600px) {
    .lawyerDetailsInfo--img img {
        width: 320px;
    }
    .lawyerDetailsInfo--img,
    .lawyerDetailsInfo--bio,
    .lawyersDetailsBooking--text{
        padding: 2rem 0.5rem;
    }
    .lawyersDetailsBooking--book_form input,
    .lawyersDetailsBooking--book_form textarea {
        width: 300px !important;
    }
    .lawyersDetailsBooking--book_form button {
        width: 270px !important;
    }
}