.alert {
    z-index: 100001;
    position:absolute;
    margin: 20vh 20vh;
    right: 0;
    padding: 20px;
    background-color: var(--color-white);
    color: var(--color-orange);
}

.alert h3 {
    font-family: var(--font-base);
}