.forgetpassword--page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: var(--font-base);
    color: var(--color-black);
}

.forgetpassword--page::before {
    content: "";
    background-image: url('../../assets/images/sign.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.forgetpassword--page h1,
.forgetpassword--page p,
.forgepassword--page_form {
    opacity: 1;
    position: relative;
}

.forgetpassword--page h1 {
    font-size: 3.5rem;
}

.forgetpassword--page p {
    font-size: 2rem;
    text-align: center;
}

.forgepassword--page_form {
    display: flex;
    flex-direction: column;
}

.forgepassword--page_form label {
    font-size: 1.8rem;
    font-weight: bold;
    font-variant:small-caps;
    color: var(--color-black);
}